<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tyler Hipke</title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="./assets/stylesheets/styles.css">
</head>

<body class="align-items-center">

    <div class="flex-container my-auto">
        <div class="row text-white" style="margin: 0 0">

            <!-- sidebar -->
            <aside id="sidebar" class="col-sm-3">
                <div class="row t-fixed_top">
                    <div id="sidebarposition">
                        <div class="">
                            <h1 class="display-1">
                                TYLER
                                <br>
                                HIPKE
                            </h1>
                            <h5 class="" style="font-size: 1em;">
                                full-stack web dev.
                                <br>
                                pro hackintosh builder &
                                <br>
                                adobe cc connoisseur.
                            </h5>
                        </div>
                        <div class="">
                            <h5 style="font-size: 1em;">
                                san diego, california:
                                <br>
                                <a href="#" class="">contact and links.</a>
                            </h5>
                        </div>
                    </div>
                </div>
            </aside>

            <!-- main content -->
            <div class="col-sm-9">

                <!-- code content -->
                <main class="w-100">
                    <div class="row pb-0 mb-0">
                        <div class="col-12">
                            <h5>code</h5>
                        </div>
                    </div>
                    <div class="t-horizontal_scrollable">
                        <div class="row">
                            <div class="d-flex flex-nowrap mx-3">
                                <div class="card rounded-0 text-dark mr-4 shadow-lg">
                                    <img src="./assets/content/icons/nf-logo-icon_650x650.png"
                                        class="card-img rounded-0 t-icon_image" alt="...">
                                    <div class="t-custom_card_overlay">
                                        <h5 class="card-title t-card_header_font">TH: PORTFOLIO</h5>
                                    </div>
                                </div>
                                <div class="card rounded-0 text-dark mr-4">
                                    <img src="./assets/content/icons/nf-logo-icon_650x650.png"
                                        class="card-img rounded-0 t-icon_image" alt="...">
                                    <div class="t-custom_card_overlay">
                                        <h5 class="card-title t-card_header_font">NICOLE FRANK: TWE</h5>
                                    </div>
                                </div>
                                <div class="card rounded-0 text-dark mr-4">
                                    <img src="./assets/content/icons/nf-logo-icon_650x650.png"
                                        class="card-img rounded-0 t-icon_image" alt="...">
                                    <div class="t-custom_card_overlay">
                                        <h5 class="card-title t-card_header_font">RK MEDIC LINE</h5>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </main>

                <!-- visual content -->
                <main class="w-100">
                    <div class="row pb-0 mb-0">
                        <div class="col-12">
                            <h5>visual</h5>
                        </div>
                    </div>
                    <div class="t-horizontal_scrollable">
                        <div class="row">
                            <div class="d-flex flex-nowrap mx-3">
                                <div class="card rounded-0 text-dark mr-4">
                                    <img src="./assets/content/icons/nf-logo-icon_650x650.png"
                                        class="card-img rounded-0 t-icon_image" alt="...">
                                    <div class="t-custom_card_overlay">
                                        <h5 class="card-title t-card_header_font">NICOLE FRANK: TWE</h5>
                                    </div>
                                </div>
                                <div class="card rounded-0 text-dark mr-4">
                                    <img src="./assets/content/icons/nf-logo-icon_650x650.png"
                                        class="card-img rounded-0 t-icon_image" alt="...">
                                    <div class="t-custom_card_overlay">
                                        <h5 class="card-title t-card_header_font">CLIC APPAREL</h5>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </main>

                <!-- projects -->
                <main class="w-100">
                    <div class="row pb-0 mb-0">
                        <div class="col-12">
                            <h5>other</h5>
                        </div>
                    </div>
                    <div class="t-horizontal_scrollable">
                        <div class="row">
                            <div class="d-flex flex-nowrap mx-3">
                                <div class="card rounded-0 text-dark mr-4">
                                    <img src="./assets/content/icons/nf-logo-icon_650x650.png"
                                        class="card-img rounded-0 t-icon_image" alt="...">
                                    <div class="t-custom_card_overlay">
                                        <h5 class="card-title t-card_header_font">HACK PRO: MACOS 4 ALL</h5>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </main>

            </div>

        </div>
    </div>

</body>

<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
    integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
    crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"
    integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN"
    crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"
    integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV"
    crossorigin="anonymous"></script>
<script src="./assets/abstract.json"></script>
<script src="./assets/scripts/webapp.js"></script>


</html>