header, nav {
    font-family: 'Work Sans', 'Segoe UI', Ubuntu, 'Open Sans', 
    'Helvetica Neue', Helvetica, sans-serif;
    font-size: 16px;
}

body {
    position: relative;
    font-family: Roboto, 'Segoe UI', Ubuntu, 'Open Sans', 
    'Helvetica Neue', Helvetica, sans-serif;
    background-color: #dce2e2;
    color: #050505;
    margin: auto;
    line-height: 1.6;
}

header {
    background-color: #050505;
    position: fixed;
    top: 0;
    left: 0;
    height: 2rem;
    width: 100%;
    color: #fff;
    padding-left: 80px;
    padding-top: 10px;
}

nav {
    position: fixed;
    right: 0;
    top: .5rem;
    padding-right: 80px;
}

footer{
    padding-bottom: 20px;
}

a {
    text-decoration: none;
}

.nav_linkstyle {
    color: #fff;
}

.nav_linkstyle:active {
    color: #f18f01; 
}

.body_linkstyle {
    color: #f18f01;
}

.body_linkstyle:active {
    color: #a4a5ae;
}

.mobileonly{
    display: none;
}

section {

    background-color: #F4F6F6;
}

h3 {
    font-family: 'Work Sans', 'Segoe UI', Ubuntu, 'Open Sans', 
    'Helvetica Neue', Helvetica, sans-serif;
    font-size: 48px;
    padding: 1.5rem 1.5rem;
}


summary, aside {

    background-color: #fff;
}


footer{
    font-family: 'Work Sans', 'Segoe UI', Ubuntu, 'Open Sans', 
    'Helvetica Neue', Helvetica, sans-serif;
    background-color: #dce2e2;
    font-style: italic;
    text-align: center;
}

p{
    padding: 1.5rem 1.5rem;
}

.row {
    display: flex;
    flex-wrap: wrap;
  }

.padding {
    padding: 10px 10px;
}

      /* For desktops: */

@media screen and (min-width: 980px) {

    .col-1 {width: 8.33%;}
    .col-2 {width: 16.66%;}
    .col-3 {width: 25%;}
    .col-4 {width: 33.33%;}
    .col-5 {width: 41.66%;}
    .col-6 {width: 50%;}
    .col-7 {width: 58.33%;}
    .col-8 {width: 66.66%;}
    .col-9 {width: 75%;}
    .col-10 {width: 83.33%;}
    .col-11 {width: 91.66%;}
    .col-12 {width: 100%;}
    body{
        width: 960px;
    }
  }


  /* For tablets: */
  
  @media screen and (max-width: 979px) {

    .col-1 {width: 8.33%;}
    .col-2 {width: 16.66%;}
    .col-3 {width: 25%;}
    .col-4 {width: 33.33%;}
    .col-5 {width: 41.66%;}
    .col-6 {width: 50%;}
    .col-7 {width: 58.33%;}
    .col-8 {width: 66.66%;}
    .col-9 {width: 75%;}
    .col-10 {width: 83.33%;}
    .col-11 {width: 91.66%;}
    .col-12 {width: 100%;}
    body{
        width: 90%;
    }
  }


/* For phones: */
  @media screen and (max-width: 767px) {
    
    .col-1, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-10, .col-11, .col-12
    {
        width: 100%;
    }
    body{
        width: 100%;
        font-size: 16px;
    }
    .desktoponly{
        display: none;
    }
    .mobileonly{
        display: inline;
    }
    .row {
        display: flex;
        flex-direction: column;
      }
  }