/* css3 stylesheet */

/* IMPORTS */

@font-face {
    font-family: 'Helvetica Neue';
    src: url('/assets/fonts/helneue.ttf');
}

@font-face {
    font-family: 'Helvetica Neue';
    src: url('/assets/fonts/helneuebolditalic.ttf');
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: 'Didot';
    src: url('/assets/fonts/didotitalic.ttf');
    font-style: italic;
}

/* TAGS */

body {
    overflow-x: clip;
    margin-top: 15vh;
    font-family: 'Helvetica Neue', Rubik, Arial, sans-serif;
    font-weight: 400;
    background-color: #111b29;
}

a {
    color: #989CAB;
}

h5 {
    font-weight: 400;
}

/* CLASSES */

.t-icon_image {
    width: 64px;
    max-height: 64px;
}

.t-horizontal_scrollable {
    margin-bottom: 4em;
    z-index: 10;
    /* force horizontal overflow */
    overflow-x: scroll;
    white-space: nowrap;
    display: inline-block;
    float: none;
    width: 73vw;
    overflow-y: hidden;
    /* hidescrollbar Edge, FFox */
    -ms-overflow-style: none;
    scrollbar-width: none;
}

.t-horizontal_scrollable::-webkit-scrollbar {
    display: none;
}

.t-custom_card_overlay {
    position: absolute;
    bottom: -.9em;
    left: 0;
}

.t-card_header_font {
    font-weight: bold;
    letter-spacing: 2.5pt;
    font-style: italic;
}

.display-1 {
    font-family: Didot, 'Playfair Display', serif;
    font-style: italic;
    color: #97bbd8;
}

.card {
    background-color: #DCE2F7;
    transition: .25s;
}

.card:hover {
    background-color: #ffffff;
    border-width: 1em;
}

.t-visible{
    opacity: 1;
    visibility: visible;
    transition: .25s;
}

.t-hidden{
    opacity: 0;
    visibility: hidden;
    transition: .25s;
}
/* IDs */
#homeblock{
    transition: .25s;
}

#articleblock{
    transition: .25s;
}

/* MEDIA QUERIES */

/* mobile only */

@media (max-width: 767.98px) {
    .t-horizontal_scrollable {
        width: 100%;
        margin-bottom: 3em;
    }
    .card {
        width: 60vw;
        height: 60vw;
    }

    #sidebar {
        position: relative;
        margin-left: 1em;
    }

    #gohome{
        margin-top: 3em;
    }
}

/* tablet only */

@media (min-width: 768px) and (max-width: 1199.98px) {
    .card {
        width: 44vw;
        height:  44vw;
    }

    .t-horizontal_scrollable {
        width: 72vw;
    }
    #sidebarposition {
        padding-top: 20vh;
        margin-left: 2em;
    }
}

/* desktop only */

@media (min-width: 1199.98px) {
    .card {
        width: 30vw;
        height: 30vw;
    }
    
    #sidebarposition {
        padding-top: 20vh;
        padding-left: 8em;
    }
}

/* tablet AND desktop */

@media (min-width: 768px) {
    .t-fixed_top {
        z-index: 999;
        position: fixed;
        top: 0;
        left: 0;
    }
}