.t-mainheader{
    position: relative;
    right: -2.5em;
    z-index: 15;
}

.t-icon_image{
    width: 64px;
    max-height: 64px;
    margin: 15em 10em;
}

.t-code_card{
    height: 100%;
}

.card-img-overlay{

}

#sidebar{
    position: relative;
    right: -5em;
    top: 4em;
    z-index: 15;
}

#codeheader{
    position: relative;
    top: -1.5em;
    font-weight: bold;
    letter-spacing: 2.5pt;
    font-style: italic;
}

body{
    margin-top: 15vh;
    font-family: 'Helvetica Neue', Arial, sans-serif;
    background-color: #071f33;
}

.display-1{
    font-family: Didot, serif;
    font-style: italic;
}